{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">

<div class="container mt-5">
    <h2 style="font-family: 'Ubuntu', sans-serif">Любий друже!</h2>
  <div class="content">
    <p class="lead"><em><p>Цей застосунок розроблено спеціально для твоєї зручності.</p>
    <p>Щоб розпочати роботу авторезуйся або зареєструйся на сайті.</p></em></p>
</div>
  </div>
{% endblock %}