{% extends "base.html" %}
{% load static %}
{% load socialaccount %}
{% load account %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div>
        <h2 class="text-center">Login</h2>
        <form method="post" class="p-4 border rounded bg-light text-center">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="text-center">
                <button type="submit" class="btn btn-info">Login</button>
                <a href="{% provider_login_url 'google' %}" class="btn btn-light">Login with Google</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
