{% extends "base.html" %}
{% load static %}

{% block content %}
  <h2>Profile</h2>
  {% if user.avatar %}
    <img src="{{ user.avatar.url }}" alt="{{ user.username }}" width="100">
  {% else %}
    <img src="{% static 'images/default_avatar.png' %}" alt="Default Avatar" width="100">
  {% endif %}
  <p>Username: {{ user.username }}</p>
  <p>First name: {{ user.first_name }}</p>
  <p>Last name: {{ user.last_name }}</p>
  <p>Email: {{ user.email }}</p>
  <p>Phone: {{ user.phone }}</p>
  <a href="{% url 'edit_profile' %}">Edit Profile</a>
{% endblock %}